<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a

a

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages=['R', 'Python', 'SAS', 'Scala', 42]

languages

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [6]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
languages[1]

'Python'

Print the value of temp and type(temp)

In [8]:
temp=42

temp
type(temp)

int

Append the element 'Java' in the list

In [9]:
languages.append('Java')
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [10]:
languages.pop(4)

42

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [11]:
color=['Red','Blue', 'White']

Append the element 'Black' to colors

In [12]:
color.append('Black')

color

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [13]:
color.insert(1, 'Orange')

Print the list

In [14]:
color

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [15]:
color2=['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [16]:
color[1:1]=color2

Print len of colors and its elements

In [17]:
len(color)

7

Sort the list and print it.

In [18]:
color.sort()

In [19]:
color

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [20]:
sent= 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [21]:
sent.split()

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [22]:
words_lower= sent.lower()
words_lower

'coronavirus caused lockdowns around the world.'

Check whether ‘country’ is in the list

In [23]:
sent.find('country')

-1

In [24]:
if 'country' in sent:
    print('Yes')
else:
    print('No')

No

Remove the element ‘the’ from the list and print the list.

In [25]:
remove='the'
new_sent=sent.replace("the"," ")
new_sent

'Coronavirus Caused Lockdowns Around The World.'

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [27]:
words= words_lower.split()
x4= ' '.join(words[:3])
x4

'coronavirus caused lockdowns'

Convert the list of elements to single string using join function and print it

In [28]:
new_x4= " ".join(x4)
new_x4

'c o r o n a v i r u s   c a u s e d   l o c k d o w n s'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [29]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [30]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [34]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [32]:
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [37]:
# Print the type and elements of stud_grades_set
print("Type of stud_grades:", type(stud_grades))
print("Elements of stud_grades:", stud_grades)

# Print the type and elements of stud_grades_set
print("Type of stud_grades_set:", type(stud_grades_set))
print("Elements of stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']
Type of stud_grades_set: <class 'set'>
Elements of stud_grades_set: {'A', 'C', 'B', 'F'}

In [ ]:
Add a new element ‘G’ to stud_grades_set

In [41]:
new_element='G'
# Convert the set to a list (order is preserved)
list_stud_grades_set = list(stud_grades_set)

# Add the new element to the list
list_stud_grades_set.append(new_element)

# Convert the modified list back to a set (duplicates are removed)
updated_stud_grades_set = set(list_stud_grades_set)

print(updated_stud_grades_set)

{'G', 'C', 'A', 'F', 'B'}

Add element 'F' to stud_grades_set. and print it.

In [44]:
find_element= 'F'

if find_element in stud_grades_set:
    print(find_element ,'is available')
else:
    print(find_element ,'is not available')

F is available

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [46]:
remove_element='F'

updated_stud_grades_set = stud_grades_set - {remove_element}

updated_stud_grades_set

{'A', 'B', 'C'}

Print the elements and the length of stud_grades_set

In [48]:
print("Elements in stud_grades_set:",stud_grades_set)
print("Length of stud_grades_set:",len(stud_grades_set))

Elements in stud_grades_set: {'A', 'C', 'B', 'F'}
Length of stud_grades_set: 4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [51]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [54]:
print('Color:',colors)
print('Fruits:', fruits)

Color: ['red', 'blue', 'orange']
Fruits: ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [62]:
colors_set= set(colors)
fruits_set= set(fruits)

print('Color:',colors_set)
print('Fruits:', fruits_set)

Color: {'orange', 'red', 'blue'}
Fruits: {'orange', 'apples', 'grapes'}

In [65]:
type(colors_set)

set

Find the union of both the sets.

In [66]:
union_set= colors_set | fruits_set

union_set

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [69]:
common_set= colors_set & fruits_set

common_set

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [70]:
new_set= fruits_set.difference(colors_set)
new_set

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [71]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [73]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [75]:
temp[0]=11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [77]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [80]:
for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [81]:
temp1[0]=17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [83]:
city = ("Bangalore", 28.9949521, 72)
city

('Bangalore', 28.9949521, 72)

Print first element of city

In [84]:
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [87]:
city2 = ('Chennai', 30.01, 74)
city2

('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [91]:
cities= city + city2

Print cities

In [92]:
cities

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [93]:
type(cities[0])

str

print the type of cities

In [94]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [95]:
d = {'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list':[23,32,12]}

Print the value of d[0]

In [96]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [99]:
var_actor = d['actor']

Print the type of actor

In [98]:
type(var_actor)

str

Store the value of d[‘list’] in new variable List.

In [100]:
var_list = d['list']

Print the type of List.

In [101]:
var_list

[23, 32, 12]

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [102]:
d1= {'singer':'Kr$na', 'album':'Stikk here', 'genre': 'hip-hop'}

Merge d1 into d.

In [103]:
dictionary = d.update(d1)

print d

In [104]:
dictionary

Print all the keys in d

In [105]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [107]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Stikk here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [113]:
for key, value in d.items():
    print(key,"---->" ,value)

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Stikk here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [114]:
sent

'Coronavirus Caused Lockdowns Around The World.'

In [137]:
dict_sent={}

# Iterate through each character in the string
# Iterate through each character in the list
for char in sent:
  # Check if the character is already in the dictionary
  if char in dict_sent:
    # Increment the count for the existing character
    dict_sent[char] += 1
  else:
    # Add the character to the dictionary with a count of 1
    dict_sent[char] = 1
        
# Print the character counts
print("Character Counts:")
for char, count in dict_sent.items():
    print(char, count)

Character Counts:
T 1
h 2
i 3
s 5
  8
a 3
t 6
e 4
r 5
n 3
g 1
o 3
c 6
u 2